.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding:var(--pd-screen)
}

.title {
  font-family: var(--font-logo);
  font-size: var(--size-title-main);
  color: var(--color-text-main);
}

.description {
  font-size: var(--size-text-body);
  font-weight: var(--weight-body);
}

.container .button {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
  border: var(--color-primary-border) solid var(--border-width-default);
}

.container .customTitle {
  font-size: var(--size-title-main);
}