.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-family: var(--font-logo);
  font-size: var(--size-title-main);
  color: var(--color-text-main);
}

.description {
  font-size: var(--size-text-body);
  font-weight: var(--weight-body);
}
