.style {
  width: 100%;
  gap: var(--gp-inline-component);
  color: var(--color-text-main);
  margin-top: var(--mg-card);
}

.style .label {
  font-size: var(--size-text-body);
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.iconContainer {
  color: var(--color-text-main);
  opacity: 0.6;
  padding-right: 8px;
}

.input {
  border: var(--border-width-active) solid var(--color-bg-input);
  font-size: var(--size-text-body);
  color: var(--color-text-main);
  width: 100%;
  border-radius: 8px;
  padding: 8px 0;
  outline: none;
  padding-inline: var(--pd-input);
}

.input:focus {
  border-color: var(--color-primary);
}
